// @import './variables.scss';
@import './reset.scss';
@import './layout.scss';

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
  display: block;
}

.fade-transform-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

// breadcrumb
.breadcrumb-leave-active,
.breadcrumb-enter-active,
.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-enter-from, .breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(10px);
}
.breadcrumb-leave-active {
  position: absolute;
}